.hero{
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(https://w.forfun.com/fetch/5e/5ead94e3afc8cadeab7b9d99b220f369.jpeg?w=1200&r=0.5625);
    background-repeat: none;
    background-size: cover;
    background-attachment: scroll;
    
    &__content{
        max-width: 640px;
    }
}

