@use 'header';
@use 'hero';
@use 'config';
@use 'section';
@use 'variable';
@use 'footer';

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    color:variable.$corTextoFirst;
}

@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variable.$corTextoSecond;
}
@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}



body{
    background-color: variable.$corFundo;
    font-family: Helvetica, Neue, Segoe UI,Roboto, Ubuntu, Avenir, sans-serif;
}

.title{
    text-align: center;
}

.text--large{
    @include text(18px)
}

.text{
    @include text;
}

.text--short{
    @include text(12px);
}

.title--large{
    @include title(56px)
}

.title{
    @include title;
}

.title--short{
    @include title(40px);
}

